[Unit]
Description=RAFT Power Management Pyro Server
After=systemd-networkd.service
Requires=systemd-networkd.service
StartLimitBurst=3
StartLimitIntervalSec=infinity

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/raft-startup
StandardOutput=journal+console
StandardError=journal+console
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
