[Unit]
Description=raft-startup
After=systemd-networkd.service
Requires=systemd-networkd.service
StartLimitBurst=3
StartLimitIntervalSec=infinity

[Service]
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/raft-startup
StandardOutput=journal+console
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
